.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1495368427887-e88d33a44e0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1453&q=80);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero {
  // border: 3px solid green;
  background-color: rgba(255, 255, 255, 0.85);
  height: 75%;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 40px;
  
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
      margin-left: 20px;
      font-size: 30px;
      font-weight: 300;
      color: #7c7c7c;
      background: linear-gradient(90deg, #7c7c7c, #000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
    }
  }

  .hero-text-logo {
    // border: 2px solid blue;
    display: flex;
    align-items: center;

    h1 {
      background: linear-gradient(90deg, var(--theme-purple), var(--theme-blue));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      font-size: 60px;
      font-weight: 400;
    }
  }

  .home-treelogo {
    height: 75px;
    margin-right: 15px;
  }  
}

#home-footer {
  margin-top: 65px;
  margin-bottom: -45px;
}