//

.neighbourhoods-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.neighbourhoods-hero {
  background-color: rgba(255, 255, 255, 0.93);
  height: 85%;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h1 {
    align-self: flex-start;
    margin-left: 50px;
    font-weight: 400;
    font-size: 30px;
  }

  .instructions {
    margin: -5px 75px 20px 75px;
  }
}

.neighbourhoods-container {
  // border: 2px solid blue;
  border-radius: 5px;
  padding: 0 20px 10px 20px;
  height: 75%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      
      background-color: rgba(0, 0, 0, 0.2);
    }
}

.neighbourhood-card {
  background-color: #fff;
  border-radius: 5px;
  font-size: 40px;
  padding: 30px 60px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.neighbourhood-border {
  background: linear-gradient(to bottom right, var(--theme-purple), var(--theme-blue));
  margin: 25px 20px;
  border-radius: 7px;

  & :hover {
    background-color: azure;
    cursor:pointer;
    font-weight: 500;
  }
}

.coming-soon-text {
  display: none;
}

.coming-soon-city:hover {
  background: linear-gradient(to bottom right, #000000, #b3b3b3);
  cursor: not-allowed;

  .neighbourhood-card {
    background-color: #8c8c8c;
    cursor: not-allowed;

    .city-name {
      display: none;
    }
    .coming-soon-text {
      display: contents;
      font-size: 30px;
      border: 2px solid blue;
      padding: 0;
      color:#1f1f1f;
      cursor: not-allowed;
    }
  }
}

#neighbourhoods-footer {
  margin-bottom: -20px;
  color: #f1f1f1;
}

@media (max-width: 525px) {
  #neighbourhoods-footer {
    padding: 0 20px;
  }

  .neighbourhoods-hero {
    h1 {
      margin-top: 30px;
      margin-left: 35px;
    }
    .instructions {
      margin: -5px 50px 20px 50px;
    }
  }

  .neighbourhood-border {
    margin: 10px;
  }

  .neighbourhood-card {
    font-size: 27px;
    padding: 20px 30px;
    margin: 10px;
  }
}
