.feed-and-profiles-section {
  background-image: url('https://images.unsplash.com/photo-1598826867442-9ef9e2527b1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  
  input {
    font-size: 15px;
    padding: 10px;
    border: 3px solid var(--theme-blue);
    border-radius: 5px;
    width: 400px;
    color: var(--theme-purple);
    margin-right: 7px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 15px;
    border: 3px solid var(--theme-blue);
    border-radius: 5px;
    background-color: #fff;
    color: #8c8c8c;

    &:hover {
      background-color: var(--theme-purple);
      cursor: pointer;
      color: #fff;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.feed-and-profiles-container {
  display: flex;
  // border: 2px solid blue;
  height: 79vh;
  margin: 0 30px;
  justify-content: space-between;
}

.feed-section, .profiles-section {
  background-color: rgba(250, 250, 250, 0.95);
  // border: 2px solid orange;
  // height: 95%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.feed-section {
  width: 40%;

  .feed-container {
    width: 95%;
    // border: 2px solid red;
    margin-bottom: 15px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.profiles-section {
  width: 56%;
  
  .profiles-container {
    // border: 2px solid red;
    border-radius: 5px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .each-profile {
      // border: 2px solid green;
      box-shadow: 0px 0px 15px 2px #B8B8B8;
      background-color: #fff;
      border-radius: 15px;
      color: #59ad59;
      padding: 10px 20px;
      margin: 10px;
      transition: 0.3s ease-in-out;

      span {
        color: #000;
      }

      .profile-pic-and-name {
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-pic {
          border-radius: 50px;
        }

        .profile-name {
          display: flex;
          // border: 2px solid blue;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          margin-left: 10px;
          letter-spacing: 1px;
          color:#000
        }
      }


      &:hover {
        background-color: azure;
        transform: scale(1.1);
        cursor: pointer;
        border: 3px solid var(--theme-purple)
      }

      .profile-services {
        text-transform: capitalize;
      }
    }
  }
}

.each-post {
  // border: 2px solid green;
  box-shadow: 0px 0px 15px 2px #B8B8B8;
  background-color: #fff;
  padding: 15px 17px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 5px;
  max-width: 300px;

  // first post will have reduced margin top
  &:first-of-type {
    margin-top: 5px; 
  }
  // last post will have reduced margin bottom
  &:last-of-type {
    margin-bottom: 5px; 
  }

  p {
    margin: 0;
  }

  .post-creator {
    // color: var(--theme-blue)
    color: #18378a;
    font-size: 17px;
    font-weight: 500;
  }

  .post-datetime {
    font-size: 13px;
    margin-left: 15px;
    margin-top: 5px;
    color:#8c8c8c;
    letter-spacing: 1px;
  }

  .post-service {
    // border: 2px solid grey;
    border-radius: 5px;
    box-shadow: inset -1px -1px 20px 4px rgba(107,35,207,0.27);
    display: flex;
    width: fit-content;
    text-align: center;
    // width: fit-content;
    // justify-self: center;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;;
    // justify-content: center;
    // text-align: center;
  }

  .post-text-wrapper {
    display: flex;
    flex-direction: column;

    .quotes {
      // border: 2px solid blue;
      font-size: 60px;
      display: flex;
      font-family: 'Secular One', sans-serif;

      &:last-child {
        text-align: right;
        align-self: flex-end;
        margin-top: -30px;
      }
    }
    .post-text {
      // border: 2px solid pink;
      margin-top: -68px;
    }
  }

  .post-urgency {
    // border: 2px solid blue;
    margin-top: -35px;    
    color: #e03fa3;
  }
  
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}


#profiles-footer {
  margin-top: 15px;
}