
.singleProfile-section {
  // this image should be the user's uploaded picture of their service (like painting, or wedding planning)
  background: url('https://images.unsplash.com/photo-1503785640985-f62e3aeee448?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 20px;
}

.singleProfile-hero {
  background-color: rgba(255, 255, 255, 0.95);
  width: 80%;
  height: 80%;
  border-radius: 5px;
  padding: 30px 50px 60px 50px;
  // padding-top: 30px;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.profile-picture-container {
  background: linear-gradient(
      to bottom right,
      var(--theme-purple),
      var(--theme-blue)
    );
  padding: 15px;
  // padding: 10px 11px 7px 11px;
  border-radius: 55px;
  margin-left: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .stars {
    position: absolute;
    bottom: -60px;
    right: -25px;
    font-size: 40px;
    // background-color: rgba(255, 255, 255);
    // border: 2px solid #8c8c8c;
    border-radius: 10px;
    padding: 0 10px;
  }
}

.profile-picture {
  background-color: #fff;
  border-radius: 50px;
  width: 250px;
  display: flex;
  // padding: 30px;
}

.profile-info {
  // border: 2px solid red;
  padding: 20px 30px;
  background-color: #fff;
  margin: 20px;
  margin-left: 40px;
  box-shadow: 0px 0px 25px 2px #B8B8B8;
  border-radius: 10px;

  .profile-name {
    display: flex;

    .helper-badge {
      font-size: 30px;
      margin-top: 7px;
      margin-left: 15px;
      color: var(--theme-blue);
    }
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .service-text {
    text-transform: capitalize;
  }

  p span {
    font-weight: 500;
    color: #59ad59;
    text-transform: uppercase;
  }
}

.helper-toggle {
  text-align: center;
  margin-top: 8px;
  
  #helper {
    color: #000;
    text-transform: capitalize;    
    background: linear-gradient(
      to bottom right,
      var(--theme-purple),
      var(--theme-blue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .helper-button {
    border: 2px solid var(--theme-blue);
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    font-family: inherit;

    &:hover {
      border: 2px solid var(--theme-purple);
      cursor: pointer;
    }
  }
}

.hide {
  display: none;
}

.hovertext {
  position: relative;
  z-index: 0;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 170px;
  background-color: var(--theme-purple);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  left: 110%;
  top: 30%;
  left: 0;
  top: 100%;
}

.hovertext:hover:before {
  opacity: 0.7;
  visibility: visible;
}

.comments-section {
  border: 2px solid var(--theme-blue);
  margin-top: 35px;
  border-radius: 5px;
  padding: 20px 30px;
  
  h3 {
    margin: 0;
    color: var(--theme-purple);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.comment-show {
  display: flex;
  justify-content: space-around;
}

.leave-comment-container {
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  .leave-comment-wrapper, .leave-rating-wrapper {
    display: flex;
    flex-direction: column;
  }

  .leave-rating-wrapper {
    margin: 10px 0 20px 0;
  }

  textarea, #rating {
    margin-top: 5px;
    font-family: inherit;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 10px;
  }

  #rating {
    width: 35px;
  }


  .submit-comment {
    background-color: #fff;
    border: 2px solid var(--theme-blue);
    border-radius: 5px;
    width: 195px;
    padding: 10px 20px;
    font-family: inherit;
    text-transform: uppercase;

    &:hover {
      background-color: var(--theme-blue);
      border: 2px solid var(--theme-purple);
      color: #000;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.submit-comment-disabled {
  width: 250px;
  text-transform: capitalize;
  background-color: #bdbdbd;
  color: #fff;
  border: 2px solid var(--theme-blue);
  border-radius: 5px;
  width: 270px;
  padding: 10px;
  font-family: inherit;
  text-transform: capitalize;

  &:hover {
    cursor: not-allowed;
  }
}

.comments-container {
  // border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.comment {
  box-shadow: 0px 0px 5px 2px #dbdbdb;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  // justify-content: space-between;
  p {
    margin: 0;
  }
  .name-and-xMark {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .commentName {
      color: #18378a;
    }
    .delete-comment {
      color: #b90000;
      margin-top: -7px;
      transition: 0.15s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.4);
      }
    }
  }
  .commentDateTime {
    color: #8c8c8c;
    font-size: 14px;
    // margin-left: 10px;
    text-align: right;
  }
  .commentText {
    width: 200px;
    padding: 10px 5px;
  }
  .commentRating {
    color: rgba(107,35,207,0.5);
    padding-left: 5px;
  }
}

#single-profile-footer {
  // position: absolute;
  margin-top: -23px;
  color: #d4d4d4;
}


