// @import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --theme-purple: #6b23cf;
  --theme-blue: #5cc3ff;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

section {
  // position: absolute;
  // top: 40px;
  padding-top: 30px;
}
